
.heading {
    text-align: center;
}

.loremContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 80%;
    margin: auto;
}

.loremCard {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-inline: 10px;
}